@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
html{
    font-family: 'Inter';
}
 .try{
    border-radius: 8px;
    margin-top: 20px;
    padding: 20px;
    background-color: rgb(32, 123, 228);
    color:white;
    border: none;
    width: 250px;
    
 }


.req{
    border: -5px solid rgb(32, 123, 228);
    margin-top: 0px;
    display: flex;
   flex-direction: column;
   padding: 10px;
}
.header{
    width: 100%;
    display: flex;
    justify-content: center;
   
    background-color:  rgb(32, 123, 228);
    border-top-left-radius: 20px;
border-top-right-radius: 0;
border-bottom-right-radius: 30px;
border-bottom-left-radius: 0;
    padding: 20px 0;
}
img{
    width: 30%;
}
 input{
    padding: 25px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);

    border: 1px solid #7c6d6d;
    border-top-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 0;
}
.sub{
    padding: 40px;

    color: rgb(255, 255, 255);
    background-color: rgb(29, 136, 223);
    padding: 20px;
}
.reset{
    
        margin-top: 20px;
        padding: 20px;
        background-color: rgb(134, 58, 58);
        color:white;
        border: none;
        width: 250px;
        border-radius: 8px;
        
    
}
.ver{
    background-color: rgb(23, 95, 95);
    color: #fff;
}
.conteiner{
    padding: 20px;
   
    margin:0  auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}